$color-lightGray: #ccc;
$color-shadowYellow: #e5e0d7;
$color-shadowGray: #808080;
$color-lightWhite: #F0F0F0;
$color-shadowBlack: #383850;
$color-white: #fff;
$color-black: #333;
$color-realBlack: #000;
$color-lightBlack: #433D3D;
$color-darkRed: #636060;
$color-skyblue: #0dd7ef;
$color-Red: red;
$color-lightPink: #F4E6D7;
$color-lightWhitePink: #FFEEE0;
$color-brawn: #714828;
$color-orange: #ff7400;
$color-strongOrange: #ff9f4f;
$color-darkBrawn: #2F251D;
$color-lightGrenn: #dff0d8;
$color-Grenn: #3c763d;
$color-darkBlue: #383850;


