@import "../../../extention/color";

/* firstVisualコンポーネント独自のスタイル */

.firstVisual-container {
  position: relative;
  color: $color-white;
  text-align: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  .title-container {
    position: relative;
    padding: 45px 0;
    z-index: 9;
    
    .appTitle {
      font-size: 55px;
      font-weight: bold;
      font-family: 'Arial',sans-serif;
      letter-spacing: 2px;
    }

    .appSubTitle {
      font-size: 11px;
      font-weight: normal;
    }
  }
}
